* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --light: white;
  --dark: gray;
  --darker: #202020;

}

html, 
body {
  min-height: 100%
}

.wrapper {
  background-color: var(--darker);
  color: var(--light);
  font-family: 'Roboto', sans-serif;
  font-size: 18px; 
  line-height: 1.5;
  font-weight: 600;
}

main{
  min-height: calc(100vh - 250px);
}